/* Write your CSS here */
.denomination-style {
  border: 2px solid #83799e;
  border-radius: 5px;
  width: 180px;
  height: 43px;
  background-color: #382f5a;
  color: #d4d2db;
  margin: 10px;
  text-align: center;
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: 600;
  cursor: pointer;
}
